#center-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.icon {
    width: 100px;
    height: 100px;
}

#title-banner {
    height: 200px;
    width: 800px;
}


#title {
    position: relative;
    bottom: 140px;
    color: white;
    -webkit-text-stroke: 1px black;

}

#title-div {
    position: relative;
    height: 150px;
}


.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: #fff;
    border: 3px solid #000;
    border-radius: 20px;
    /* Rounded corners */
    padding: 20px;
    width: 400px;
    height: 400px;
    text-align: center;
    box-shadow: 5px 5px 0px #000;
    /* 3D effect */
}

.text-box::after {
    content: '';
    transform: rotate(90deg) scaleY(-1);
    position: absolute;
    right: -30px;
    top: 40px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #000 transparent transparent;
    /* Tail outline */
    display: block;
    width: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.view {
    display: flex;
}

.loader {
    border: 16px solid #475292;
    border-top: 16px solid #bcdfea;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}