#center-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.icon {
    width: 100px;
    height: 100px;
}

#title-banner {
    height: 200px;
    width: 800px;
}


#title {
    position: relative;
    bottom: 140px;
    color: white;
    -webkit-text-stroke: 1px black;
    
}

#title-div {
    position: relative;
}
